@font-face {
    font-family: 'Karla';
    src: url('/_includes/assets/css/fonts/Karla-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/_includes/assets/css/fonts/Karla-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/_includes/assets/css/fonts/Karla-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

:root {
	--primary: #436EBA;
	--primary-grey: #4f596b;
	--secondary: #0C3172;
	--secondary-dark: #01060f;
	--secondary-offset: #12449b;
	--secondary-highlight: #1752b8;
	--secondary-light: #a8c8ff;
	--tertiary: #0f4060;
	--logo-color: #10405f;
	--logo-highlight: #1a5175;
	--logo-offset: #072e47;

	--grey: #F0EFEB;
	--black: #000000;
	--white: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: "Karla", "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	/* font-family: "Karla"; */
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--logo-color);
}

img {
	max-width: 100%;
	height: auto;
}

main {
	width: 100%;
	min-height: 95vh;
	max-width: 800px;
	margin: 0 auto;
	padding: 4rem 1rem;
	font-weight: 200;
	text-align: center;
}

main.main-splash {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

.header-logo {
	width: 4rem;
	height: 4rem;
	background-image: url('static/img/logo_wave_blue@0.5x.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-logo span {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.gutter {
	width: 4rem;
	height: 4rem;
}
/* 
header {
	position: fixed;
    top: 0;
    left: 0;
    width: 12rem;
    height: 100%;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	box-shadow: 0 0 0 2px rgba(0,0,0,0.0.05);
}

header nav {
	flex: 1;
	display: flex;
    justify-content: center;
}

header nav ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}

header nav li {
	margin: 0;
}

header nav li a {
	padding: .25em .5em;
	line-height: 2rem;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 0.125rem;
	text-decoration: none;
	white-space: nowrap;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	border-bottom: 0.0625rem solid var(--primary);
} */

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
	vertical-align: text-top;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .625em;
	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
	border-radius: .25em;
	text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

.splash {
	width: 100%;
	height: 100%;
	background-color: var(--white);
}

.splash-links ul {
	text-align: center;
	padding: 0;
}

.splash-links ul li {
	display: block;
	list-style: none;
}

@media only screen and (min-width: 720px) {
	.splash-links ul li {
		display: inline-block;
	}
}

.splash-links ul li a {
	display: inline-block;
	list-style: none;
	font-weight: 200;
	padding: 0.5rem;
	margin: 0 1rem;
	color: var(--logo-color);
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

.splash-links ul li a:hover {
	background-color: var(--logo-color);
	color: #FFF;
	text-decoration: none;
}

.footer-logo {
	width: 40px;
	height: 40px;
	margin: auto;
	background-image: url('static/img/logo_wave_white@0.5x.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
	width: 320px;
	max-width: 100%;
	height: 320px;
	margin: 0 auto;
	display: inline-block;
	background-image: url('static/img/logo_wave_blue@0.5x.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 600px) {
	.logo {
		width: 580px;
		height: 360px;
	}
}

.footer {
	max-width: 100%;
	padding: 4em;
	background-color: var(--secondary-dark);
	color: var(--white);
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 0.75rem;
}
	
.footer .social-links a {
	display: inline-block;
	margin: 0.5rem 0.3rem;
}

.footer .social-links a svg {
	fill: #dedede;
}

.footer .social-links a svg:hover {
	fill: #ffffff;
}

.footer .contact-links ul,
.footer .food-links ul {
	padding: 0;
	margin: 0;
}

.footer .contact-links ul li a,
.footer .food-links ul li a,
.footer .smiley span a {
	text-decoration: none;
}

.footer .contact-links ul li a:hover,
.footer .food-links ul li a:hover,
.footer .smiley span a:hover {
	text-decoration: underline;
}

.footer .contact-links ul li,
.footer .food-links ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0.2rem 0.4rem;
}

.footer .contact-links ul li a,
.footer .food-links ul li a {
	color: #dedede;
}

.footer .contact-links ul li:not(:last-child):after,
.footer .food-links ul li:not(:last-child):after {
	content: '\2022';
	right: -0.4rem;
    position: relative;
	color: var(--primary-grey);
}

.footer .smiley {
	margin: 1rem 0;
}

.footer .smiley a {
	color: #dedede;
}

.footer .copyright {
	color: var(--primary-grey);
}

/* navigation with toggle */
#menuToggle {
	display: block;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	background-color: white;
}

@media screen and (min-width:768px) {
	#menuToggle {
		top: 50px;
		left: 50px;
	}
}


#menuToggle a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	padding: 1rem 2.5rem;
	transition: color 0.3s ease;
	font-weight: 200;
}

#menuToggle a[data-current="current item"] {
	background-color: var(--logo-offset);
}

#menuToggle a:hover {
	background-color: var(--logo-highlight);
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -11px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 30px;
	height: 2px;
	margin-bottom: 6px;
	position: relative;
	background: var(--secondary);  
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.35s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: var(--secondary-light);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: fixed;
	width: 300px;
	height: 200%;
	margin: -74px 0 0 -50px;
	padding: 0;
	padding-top: 125px;
	background: var(--logo-color);
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
	padding-left: 30px;
}

@media screen and (min-width:768px) {
	#menu {
		padding-left: 0;
	}
}

#menuToggle input:checked ~ ul {
	transform: none;
}

.restaurant {
	font-weight: 200;
}

ul.event-list {
	margin: 0;
	padding: 0;
}

ul.event-list li {
	list-style-type: none;
}

/* takeaway */
a.call-to-action {
	background-color: var(--logo-color);
	padding: 0.5rem 2rem;
	margin: 2rem 0;
	display: inline-block;
	text-decoration: none;
}

a.call-to-action,
a.call-to-action:visited {
	color: #FFFFFF;
}

a.call-to-action:hover {
	background-color: var(--logo-highlight);
}

h1 {
	font-weight: 200;
	font-size: 2.4rem;
	margin-bottom: 2rem;
}

h2 {
	font-weight: 200;
	font-size: 1.6rem;
	margin: 2rem 0 1rem;
}

h3 {
	font-weight: 200;
	font-size: 1.4rem;
	margin: 2rem 0 1rem;
}

h4 {
	font-weight: 300;
	font-size: 1rem;
	margin: 2rem 0 1rem;
}

ul.restaurant-links {
	margin: 0;
	padding: 0;
}

ul.restaurant-links li {
	display: inline-block;
	margin: 1rem;
	font-size: 1rem;
}


.page-links ul {
	text-align: center;
	padding: 0;
	margin-bottom: 2rem;
}

.page-links ul li {
	display: block;
	list-style: none;
}

@media only screen and (min-width: 540px) {
	.page-links ul li {
		display: inline-block;
	}
}

.page-links ul li a {
	display: inline-block;
	list-style: none;
	font-weight: 200;
	padding: 0.5rem;
	margin: 0 0.3rem;
	color: var(--logo-color);
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

.page-links ul li a:hover {
	background-color: var(--logo-color);
	color: #FFF;
	text-decoration: none;
}

.text-left {
	text-align: left;
}