<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		{% include "components/nav.njk" %}

		<main>	
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	<style>html{visibility: visible;opacity:1;}</style>
	</body>

</html>
