<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="splash">

        <div class="logo"></div>

		<header>
			<a href="{{ '/' | url }}" class="header-logo">
                <span>
                    {{ metadata.title }}
                </span>
            </a>

			{% include "components/nav.njk" %}

            <div class="gutter"></div>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

        <div hidden>
		    {% include "components/footer.njk" %}
        </div>

    <style>html{visibility: visible;opacity:1;}</style>
	</body>

</html>
