<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="splash">

		{% include "components/nav.njk" %}

		<main class="main-splash">
			<div class="logo"></div>
			<div class="splash-links">
				{% include "components/food-links.njk" %}
			</div>
			{{ layoutContent | safe }}
		</main>


		{% include "components/footer.njk" %}

    <style>html{visibility: visible;opacity:1;}</style>
	</body>

</html>
